<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="당신을 위한 복지, 여행 ALL THAT TOUR">
    <meta property="og:image" content="http://allthattour.kr/img/bg.jpg">
    <meta property="og:title" content="ALL THAT TOUR" />
    <meta property="og:description" content="당신을 위한 복지, 여행 ALL THAT TOUR " />
    <meta property="og:url" content="http://allthattour.kr" />
    <meta property="og:image" content="http://allthattour.kr/img/bg.jpg">
    <meta property="og:title" content="ALL THAT TOUR" />
    <meta property="og:description" content="당신을 위한 복지, 여행 ALL THAT TOUR " />
    <meta property="og:url" content="http://allthattour.kr" />
    <title>ALL THAT TOUR</title>

    <!-- Favicons-->
    <link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png">
    <link rel="manifest" href="/img/site.webmanifest">
    <link rel="mask-icon" href="/img/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <link rel="apple-touch-icon" type="image/x-icon" href="img/bg.jpg">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="72x72" href="img/bg.jpg">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="114x114" href="img/bg.jpg">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="144x144" href="img/bg.jpg">

    <link rel="stylesheet" href="ion-rangeslider/css/ion.rangeSlider.min.css">
    <link rel="stylesheet" href="bootstrap-slider/css/bootstrap-slider.min.css">

    <!-- GOOGLE WEB FONT -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Oleo+Script:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap" rel="stylesheet">
    <!-- BASE CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/vendors.css" rel="stylesheet">

    <!-- YOUR CUSTOM CSS -->
    <link href="/css/custom.css" rel="stylesheet">

    <link href="/js/modernizr_slider.js" rel="stylesheet">

    <title>ALL THAT TOUR</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oleo+Script&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/css/reserve.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>

    <div id="page">

        <header class="search-header">
            <div id="preloader" style="display: none;">
                <div data-loader="circle-side" style="display: none;"></div>
            </div><!-- /Page Preload -->
            <div id="logo" class="logo-text">ALL THAT TOUR</div>
            <!-- /top_menu -->
            <nav id="menu" class="main-menu">
                <ul th:if="${name == ''}">
                    <li><span><a href="/">홈</a></span></li>
                    <li><span><a href="#0">고객센터</a></span></li>
                </ul>
                <ul th:unless="${name == ''}">
                    <li><span><a href="/">홈</a></span></li>
                    <li><span><a href="#0">고객센터</a></span></li>
                    <li><span><a href="/cart" th:text="장바구니"></a></span></li>
                    |
                    <li><span><a href="#0" th:text="${name}"></a></span></li>
                </ul>
            </nav>
        </header>
        <!-- /header -->
        <main>
            <div class="v383_7127">
                <div class="v383_7297">
                    <div class="v383_7236"></div>
                    <div class="v383_7295"></div>
                    <div class="v383_7243">
                        <div class="v383_7244"><span class="v383_7245">CVK Park Bosphorus Hotel Istanbul</span>
                            <div class="v383_7246">
                                <div class="v383_7247">
                                    <div class="name"></div><span class="v383_7249">Gümüssuyu Mah. Inönü Cad. No:8,
                                        Istanbul
                                        34437</span>
                                </div>
                                <div class="v383_7250">
                                    <div class="v383_7251">
                                        <div class="v383_7252">
                                            <div class="name"></div>
                                            <div class="name"></div>
                                            <div class="name"></div>
                                            <div class="name"></div>
                                            <div class="name"></div>
                                        </div><span class="v383_7258">5 Star Hotel</span>
                                    </div>
                                    <div class="v383_7259">
                                        <div class="v383_7260">
                                            <div class="v383_7261">
                                                <div class="v383_7262">
                                                    <div class="v383_7263"></div>
                                                </div><span class="v383_7264">Superior room - 1 double bed or 2 twin
                                                    beds</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="v383_7265">
                                    <div class="v383_7266">
                                        <div class="v383_7267"></div>
                                    </div><span class="v383_7268">2023.04.04 - 2023.04.20</span>
                                </div>
                                <div class="v383_7269">
                                    <div class="name"></div><span class="v383_7271">매우 좋음 리뷰 691 </span>
                                </div>
                            </div>
                        </div>
                        <div class="v383_7272"><span class="v383_7273">w185,300</span></div>
                    </div><span class="v383_7296">예약 숙소 정보</span>
                </div>
                <div class="v383_7298">
                    <div class="v383_7299"></div><span class="v383_7332">개인정보 정보</span>
                    <div class="v383_7385"><span class="v383_7383">예약 진행을 위해 아래의 항목에 동의해 주시기 바랍니다.</span></div>
                    <div class="v385_5679"></div>
                    <div class="v385_5685"><span class="v385_5684">다음의 모든 항목에 동의합니다.</span>
                        <div class="v385_5680"></div>
                    </div>
                    <div class="v385_5686"><span class="v385_5687">[필수] 본인은 이용약관에 동의하며 18세 이상임을 확인합니다.</span>
                        <div class="v385_5688"></div>
                    </div>
                    <div class="v385_5689"><span class="v385_5690">[필수] 개인정보 처리방침에 따라 본인의 개인정보를 사용하고 수집하는 것에
                            동의합니다.</span>
                        <div class="v385_5691"></div>
                    </div>
                    <div class="v385_5692"><span class="v385_5693">[필수] 개인 정보 정책에 따라 예약한 숙소를 포함한 대한민국 또는 해외에 있는 제 3자에
                            본인의 개인 정보를
                            공유하는 것에 동의합니다.</span>
                        <div class="v385_5694"></div>
                    </div>
                </div>
                <div class="v385_5695">
                    <div class="v385_5696"></div><span class="v385_5697">결제 방법</span>
                    <div class="v385_5730">
                        <div class="v385_5713">
                            <div class="v385_5701"><span class="v385_5702">신용카드</span>
                                <div class="v385_5703"></div>
                            </div>
                        </div>
                        <div class="v385_5714">
                            <div class="v385_5715"><span class="v385_5716">가상계좌</span>
                                <div class="v385_5717"></div>
                            </div>
                        </div>
                        <div class="v385_5718">
                            <div class="v385_5719"><span class="v385_5720">무통장 입금</span>
                                <div class="v385_5721"></div>
                            </div>
                        </div>
                        <div class="v385_5722">
                            <div class="v385_5723"><span class="v385_5724">핸드폰 결제</span>
                                <div class="v385_5725"></div>
                            </div>
                        </div>
                        <div class="v385_5726">
                            <div class="v385_5727"><span class="v385_5728">카카오페이</span>
                                <div class="v385_5729"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="v385_5656">
                    <div class="v385_5657"></div><span class="v385_5658">연락처 보호</span>
                    <div class="v385_5659">
                        <span class="v385_5661">영문 이름(First name)</span>
                        <div><input style="margin-top: 30px;" class="form-control" placeholder="영문 이름"></div>
                    </div>
                    <div class="v385_5663">
                        <span class="v385_5665">전화번호(선택 사항)</span>
                        <div><input style="margin-top: 30px;" class="form-control" placeholder="전화번호"></div>
                    </div>
                    <div class="v385_5667">
                        <span class="v385_5669">이메일</span>
                        <div><input style="margin-top: 30px;" class="form-control" placeholder="이메일"></div>
                    </div>
                    <div class="v385_5671">
                        <span class="v385_5673">영문 성(Last name)</span>
                        <div><input style="margin-top: 30px;" class="form-control" placeholder="영문 성"></div>
                    </div>
                    <div class="v385_5675">

                        <div class="name"></div><span class="v385_5677">거주국가/지역</span>
                        <div><select style="margin-top: 30px;" class="form-control">
                                <option value="대한민국">대한민국</option>
                            </select> </div>
                    </div>
                </div>
                <div class="v385_5741"><span class="v385_5743">최종 결제 금액</span>
                    <div class="v385_5745">
                        <div class="v385_5747"><span class="v385_5748">상품가격</span><span
                                class="v385_5749">185,300원</span></div>
                        <div class="v385_5750"><span class="v385_5751">쿠폰 할인</span><span
                                class="v385_5752">-1,000원</span></div>
                        <div class="v385_5753"><span class="v385_5754">포인트 사용</span><span class="v385_5755">-0원</span>
                        </div>
                        <div class="v385_5756"><span class="v385_5757">Service Fee</span><span
                                class="v385_5758">$5</span></div>
                    </div>
                    <div class="v385_5759"></div>
                    <div class="v385_5760"><span class="v385_5761">총 결제금액</span><span class="v385_5762">184,200원</span>
                    </div>
                </div>
                <div class="v385_5788"></div>
                <div class="name"></div>
                <div class="v385_5794"><span class="v385_5795">전체 동의</span>
                    <div class="v385_5796"></div>
                </div>
                <div class="v385_5797"><span class="v385_5798">구매조건 확인 및 결제 진행에 동의</span>
                    <div class="v385_5799"></div>
                </div><span class="v385_5790">결제 동의</span>
                <div class="v452_3878">
                    <div class="name"></div><span class="v452_3880">ALL THAT TOUR</span>
                </div>
            </div>
        </main>
    </div>
</body>

</html>